body, button, h1{
  padding: 0;
  margin: 0;
}

body {
  background-color: #aaa;
}

header {
  padding: 0;
  padding-left: 0.8rem;
  background-color: #3f3f3f;
  border-bottom: 1px solid #454545;
  color: #fff;
}

header h1 {
  line-height: 2rem;
  font-size: 1.3rem;
}

#time {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-top: 0.3rem;
}

#kei {
  display: block;
  margin: 0 auto;
}

#laps_container {
  position: absolute;
  right: 0.1rem;
  bottom: 3.9rem;
  max-height: 90%;
}

.lap {
  text-align: right;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
}

#buttons {
  width: 100%;
  position: absolute;
  height: 3.9rem;
  bottom: 0;
}

#start_button {
  width: 100%;
}

#restart_button, #stop_button {
  width: 50%;
  display: none;
  float: left;
}

#lap_button, #reset_button {
  width: 50%;
  display: none;
  float: right;
}
